# Dependencias
node_modules/

# Variables de entorno
.env

# Archivos de Vercel
.vercel/

# Credenciales sensibles
U-Bot.json

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# VS Code
.vscode/